 h1{
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}

.imagn{
    text-align: center;
    margin: 20px;
}

font{
    color: beige;
    padding: 5%;
    text-align: center;
}


img{
    width: 250px;
    border-radius: 50%;
}

.tarjeta{
    text-align: center;
    padding: 15px;
    background-color: #26798e;
    font-style: oblique;
    margin: 50px;
    box-shadow: 0px 0px 30px rgb(186, 179, 179);
}

.tarj{
    box-shadow: 0px 0px 30px rgb(186, 179, 179);
    text-align: center;
    padding: 15px;
    background-color: #7bb8ca;
    font-style: oblique;
    margin: 50px;
}

.tit_c{
    width: 50%;
    text-align: center;
    padding: 15px;
    background-color: #6ebcd0;
    border-style: hidden;
    font-style: oblique;
    margin: 50px;
}

.pres{
    display: flex;
}

.content{
    margin: 30px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 0px 30px rgb(186, 179, 179);
}

.titPres{
    font-family: 'Cantarell', sans-serif;
    color: #1A5276;
}

.icon{
    width: 50px;
    border-radius: 0%;
}

.proyec{
    width: 95%;
    display: flex;
    border: 500px;
    text-align: center;
    margin: 50px;
    justify-content: space-around;
    box-shadow: 0px 0px 30px rgb(186, 179, 179);

}

.im_proy{
    border-radius: 0%;
    margin: 40px;
    width: 350px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;

}

.im_proy:hover{
    --escala: 1.2;
    cursor:pointer;
  }

.im_proy2{
    border-radius: 0%;
    margin: 40px;
    width: 150px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}

.im_proy2:hover{
    --escala: 1.2;
    cursor:pointer;
  }

.font_proy{
    font-family: 'Cantarell', sans-serif;
    color: #758188 ;
    padding-left:20px ;
    font-size: larger;
}

.herramientas{
    display: flex;
    width: 50%;
}

.im_herr{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}